page-user {
    .outline{
        text-align: center;
        outline-style: solid;
        outline-color: black;
    }
    .eep{
        text-align: center;
        outline-style: solid;
        outline-color: black;
        font-size: 50 px;
    }
.button{
    float: left;
    }

.body{
     background-color: tan;
}


}
