page-user {
    .outline{
        text-align: center;
        outline-style: solid;
        outline-color: black;
    }
    .eep{
        text-align: center;
        outline-style: solid;
        outline-color: black;
    }
.button{
    float: left;
    }
}
